.popup__close-icon:hover {
    opacity: 0.6;
}

@media screen and (max-width: 550px) {
    .popup__close-icon {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 15px;
        right: 25px;
    }
}