.profile__edit-button {
    align-self: flex-end;
    padding: 0;
    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    height: 24px;
    margin-bottom: 13px;
}

.profile__edit-button:focus {
    outline: none;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 500px) {
    .profile__edit-button {
        margin-bottom: 11px;
    }
}